.table-responsive {
    overflow-x: auto;  /* Horizontal scroll */
    overflow-y: auto;  /* Vertical scroll */
    max-height: 400px; /* Adjust this value based on your layout */
  }
  
  .table thead {
    background-color: #343a40; /* Dark background for table header */
    color: white; /* White text on the dark background */
  }
  
  .table td, .table th {
    white-space: nowrap; /* Prevent text from wrapping inside cells */
  }

  .sticky-custom-left{
    position:sticky;
    left:0px;
    background-color:rgb(255, 255, 255); 
    /* opacity:1; */
    }
    
    .sticky-custom-right{
    position:sticky;
    right:0px;
    background-color:rgb(255, 255, 255); 
    /* opacity:1; */
    }